body{
  background-color: #345c72;
}

.timerBtn{
  font-size: 15px;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  color: #d4edf4;
  cursor: pointer;
  font-family: consolas, monospace;
  font-style: italic;
  background-color: forestgreen;
  
  }

#timeDisplay{
  font-size: 90px;
  color: red;
  font-family: consolas, monospace;
}

#timeContainer{
  
  text-align: center;
  background-color: #345c72;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 80px;
  padding-bottom: 100px;
}

h1{
  text-align: center;
  font-style: oblique;
  font-size: 36px;
  font-weight:bold;
  color:hsl(193, 96%, 83%);
}

#startBtn{
  margin-right: 15px;
}

#resetBtn{
 margin-left: 15px;
}

